/* Selecionar todos os elementos do html  */
*{
    /* zerar os espaçamentos dos elementos */
    margin: 0;
    padding: 0;
    /* Considerar a borda ao definir altura e largura */
    box-sizing: border-box;
}

body{
    /* Definir uma familia padrão de fonte */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* Define o tamanha padrão da fonte */
    font-size: 16px;
    /* Define cor de texto */
    color: #333;
    /* Definir o alinhamento de texto */
    text-align: center;
}

.start{
    /* Define a largura minima  */
    min-width: 400px;
    /* Define a largura maxima */
    max-width: 1200px;
    /* Cor de fundo */
    background-color: rgb(54, 52, 52);
    /* Cetraliza container  */
    margin: 0 auto;
}

header{
    background-color: #df3a3a59;

}

a.logo{
    /* permite que o elemento tanha altura e largura */
    display: inline-block;
    width: 150px;
}

a.logo>img{
    width: 100%;
}

li{
    list-style-type: none;
     /* list-style-position: inside */
}

a:link,
a:visited{
    color: #ebebeb;
    text-decoration: none;
}

.banner{
    /* Define uma imagem de fundo  ( ../ faz voltar para selecionar pastas anteriores ) */
    background-image: url(../img/banner.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}